{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clj-commons/digest {:mvn/version "1.4.100"}
        org.clojure/data.priority-map {:mvn/version "1.2.0"}
        org.clojure/math.combinatorics {:mvn/version "0.3.0"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.9.2" :git/sha "fe6b140"}
                 slipset/deps-deploy {:mvn/version "0.2.0"}}
          :ns-default build}
  :profiling
  {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.1.1"}
                criterium/criterium {:mvn/version "0.4.6"}}
   :jvm-opts ["-server" "-Djdk.attach.allowAttachSelf"]}}}
